{{#section 'head'}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <link rel="stylesheet" href="/assets/website.css">
{{/section}}

<div class="site-container">
  <div class="site-column">

    <div class="site-window-container">
      <div class="site-window site-admin-window">

        <div class="site-section">
          <div class="site-header">
            <h1>Admin</h1>
            <i onclick="refresh()" class="material-icons site-action">refresh</i>
          </div>

          <!-- TODO(burdon): Factor out links. -->
          <div>
            <a class="site-button" target="MINDER_KUE"
               href="/admin/kue">Kue</a>
            <a class="site-button" target="MINDER_KUBE"
               href="https://api.dev.k.minderlabs.com/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard">Kubernetes</a>
            <a class="site-button" target="MINDER_FIREBASE"
               href="https://console.firebase.google.com/project/minder-beta/database/data">Firebase</a>
          </div>
        </div>

        <div class="site-section site-section-expand">
          <h2>Clients</h2>
          <div class="site-scroll-panel">
            <table>
              <thead>
                <tr>
                  <th>Platform</th>
                  <th>Client ID</th>
                  <th>User ID</th>
                  <th>Message Token</th>
                  <th>Registered</th>
                </tr>
              </thead>
              <tbody>
              {{#each clients}}
                <tr>
                  <td class="site-data">{{ platform }}</td>
                  <td class="site-data">{{ id }}</td>
                  <td class="site-data">{{ userId }}</td>
                  <td class="site-data">{{ short messageToken }}</td>
                  <td class="site-data site-expand">{{ time registered }}</td>
                  <td>
                    <button onclick="invalidate('{{ id }}')">Ping</button>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>

        <div class="site-section">
          <div class="site-buttons">
            <div>
              <button onclick="flush()">Flush Clients</button>
              <button onclick="schedule()">Test Scheduler</button>
              {{#if canResetDatabase }}
              <button onclick="resetDatabase()">Reset Database</button>
              {{/if}}
            </div>

            <div>
              <label>Auto-update <input id="auto-update" type="checkbox" checked/></label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="/assets/website.bundle.js"></script>
  <script>
    $(document).ready(() => {
      let interval = null;

      const setRefresh = (on) => {
        clearInterval(interval);
        if (on) {
          interval = setInterval(() => {
            document.location.reload();
          }, 5000);
        }
      };

      setRefresh($('#auto-update').change((event) => {
        setRefresh($(event.target).is(':checked'));
      }).is(':checked'));
    });

    function refresh() {
      document.location.reload();
    }

    function flush() {
      Site.postJson('/admin', { action: 'client.flush' }).then(() => {
        document.location.reload();
      });
    }

    function invalidate(clientId) {
      Site.postJson('/admin', { action: 'client.invalidate', clientId: clientId });
    }

    function schedule() {
      Site.postJson('/admin', { action: 'schedule.test' });
    }

    {{#if canResetDatabase }}
    function resetDatabase() {
      Site.postJson('/admin', { action: 'database.reset' });
    }
    {{/if}}
  </script>
</div>
