{{#section 'head'}}
  <link rel="stylesheet" href="/assets/website.css">

  {{!-- Chrome Extension. --}}
  <link rel="chrome-webstore-item" href="{{ crxUrl }}">
{{/section}}

<div class="site-container">
  <div class="site-column">

    <div class="site-window-container">
      <div class="site-window site-profile-window">

        <div class="site-section">
          <h1>Profile</h1>
          <div class="site-buttons">
            <div>
              <a class="site-button" target="_blank"
                 href="/home">Home</a>
              <a class="site-button"
                 href="/user/logout">Logout</a>
            </div>
          </div>
        </div>

        <div class="site-section">
          <div class="site-buttons">
            <div>
              <a href="/user/login">
                <img class="site-login" alt="Google Login">
              </a>

              <a onclick="return installCrx()">
                <img class="site-install-crx" alt="Chrome Extension">
              </a>
            </div>
          </div>
        </div>

        <div class="site-section">
          <h2>User</h2>
          <div class="site-buttons">
            <div>
              <a class="site-button" target="_blank"
                 href="https://myaccount.google.com/permissions">Google App Permissions</a>
              <a class="site-button" target="_blank"
                 href="https://www.googleapis.com/oauth2/v3/tokeninfo?id_token={{ id_token }}">Test ID Token</a>
            </div>
          </div>
        </div>
        <pre class="site-json">{{{ json user 2 }}}</pre>

        <div class="site-section">
          <h2>Groups</h2>
        </div>
        {{#each groups}}
        <pre class="site-json">{{{ json . 2 }}}</pre>
        {{/each}}
      </div>
    </div>
  </div>

  <script src="/assets/website.bundle.js"></script>
  <script>
    new Words().start(3, 30);

    function installCrx() {
      // NOTE: Only works from https (prod).
      // https://developer.chrome.com/webstore/inline_installation
      chrome.webstore.install('{{ crxUrl }}', () => { console.log('OK') }, error => { console.error(error) });
      return false;
    }
  </script>
</div>
